page-login {
    .Login-page{
        background-image: url(../assets/imgs/blur.jpg)
    }

    .top-icon{
        color: aliceblue;
    }
    
    .login-div{

        margin-top: 37px;
    }
    p{    color: aliceblue;
        text-align: center;}

    .avtar{
        text-align: center;
        margin-top: 60px;
    }
    a{
        text-decoration: none;
        color: #0c3c58;
    }
    .top-icon{
        font-size: 38px;
    }




 
    
}
